name: Salomonisse Bot

on:
  schedule:
    - cron: "55 2 * * *"      # 23:55 BR
    - cron: "0 1-23/2 * * *"  # A cada 2h BR
  workflow_dispatch:

jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: pip install -r requirements.txt
      - run: python bot.py
        env:
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
